<div class="container">

      <% @cocktails.each do |cocktail| %>
        <div class="card">
          <img src="#" />
          <div class="card-info">
              <ul>
               <%= link_to cocktail.name, cocktail_path(cocktail) %>
                <%= link_to cocktail_path(cocktail), method: :delete,
                data: { confirm: 'reeeeeaaaaly?'} do %>
                  <i class="fas fa-trash"></i>
                  <% end %>

              </ul>
          </div>
        </div>
      <% end %>

</div>

<footer>
  <%= link_to "Add a new cocktail", new_cocktail_path  %>
</footer>
