// Specific CSS for your home-page
$font-stack:    Helvetica, sans-serif;
$primary-color: red;

body {
  font: 100% $font-stack;
  background-color: #d4f4d4;
  color: #555555;
  // padding: 30px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 30px;
 }

 h1 {
  font-family: $h1-font;
 }

footer {
  padding: 20px;
}

.simple_form {
  // text-align: center;
  width: 50vw;
}
