.button {
  background-color: #f2f4f2;
  border-radius: 4px;
  width: 20%;
  text-align: center;
  padding: 10px 0;
  margin: auto;


  a {
    color: #555555;
    font-family: $p-font;
    text-align: center;
    font-size: 20px;
  }

  a:hover {
    text-decoration: none;
    color: $light-gray;
  }
}

.button-add {
  background-color: #f2f4f2;
  border-radius: 4px;
  width: 20%;
  padding: 10px 0;


  a {
    color: #555555;
    font-family: $p-font;
    font-size: 20px;
  }

  a:hover {
    text-decoration: none;
  }
}

.btn-light {
  background-color: #f2f4f2;
  border-radius: 4px;
  width: 25%;
  padding: 10px 0;
  font-family: $p-font;
  font-size: 20px;
  margin-bottom: 20px;


  a {
    color: #555555;
  }
}

.button-inform {
  background-color: #f2f4f2;
  border-radius: 4px;
  width: 25%;
  text-align: center;
  padding: 10px 0;


  a {
    color: #555555;
    font-family: $p-font;
    text-align: center;
    font-size: 20px;
  }

  a:hover {
    text-decoration: none;
    color: $light-gray;
  }
}
